<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="laboConnectionString" connectionString="Data Source=DESKTOP-N1I9K33\SQLEXPRESS;Initial Catalog=Dashboard;User ID=iis;Password=Aa123456;connection timeout=50"
      providerName="System.Data.SqlClient" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Dashboard_ConnectionString" connectionString="Data Source=DESKTOP-N1I9K33\SQL2012;Initial Catalog=Dashboard;User ID=sa;Password=Aa123456;connection timeout=300;Asynchronous Processing=True" providerName="System.Data.SqlClient" />
    <add name="Dashboard_Ordo" connectionString="Data Source=DESKTOP-N1I9K33\SQL2012;Initial Catalog=Dashboard;User ID=user_ordo;Password=Aa123456;connection timeout=120" providerName="System.Data.SqlClient" />
    <add name="IndustrieMagasin_ConnectionString" connectionString="Data Source=DESKTOP-N1I9K33\SQLEXPRESS;Initial Catalog=Industrie_Magasin;User ID=sa;Password=Aa123456" providerName="System.Data.SqlClient" />
    <!--<add name="laboConnectionString" connectionString="Data Source=DESKTOP-N1I9K33\SQLEXPRESS;Initial Catalog=Dashboard;User ID=sa;Password=Aa123456;connection timeout=50" providerName="System.Data.SqlClient" />-->
    <add name="EclfConnectionString" connectionString="DATA SOURCE=220.30.120.12:1521/ecwms;PASSWORD=eclf09;USER ID=ECLF" providerName="Oracle.DataAccess.Client" />
    <add name="EcltConnectionString" connectionString="DATA SOURCE=220.30.120.7:1521/ecwms;PASSWORD=eclt09;USER ID=ECLT" providerName="Oracle.DataAccess.Client" />
    <add name="DashboardEntities" connectionString="metadata=res://*/PortailModel.csdl|res://*/PortailModel.ssdl|res://*/PortailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-N1I9K33\SQL2012;initial catalog=Dashboard;user id=sa;password=Aa123456;asynchronous processing=True;connect timeout=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="" culture="" />
    <compilation targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="DevExpress.Data.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Office.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v15.2.Presets, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGauges.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v15.2.Web, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraPivotGrid.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Spreadsheet.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxRichEdit.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Dashboard.v15.2.Web, Version=15.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Dashboard.v15.2.Core, Version=15.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.DataAccess.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Xpo.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear />
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Dashboard_ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" passwordFormat="Clear" />
      </providers>
    </membership>
    <profile enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Dashboard_ConnectionString" applicationName="/" />
      </providers>
      <properties>
        <add name="Name" allowAnonymous="true" />
        <add name="VisitedOn" type="System.DateTime" allowAnonymous="true" />
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="Dashboard_ConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="ASPxUploadProgressHandlerPage.ashx" verb="GET,POST" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
      <add path="DX.ashx" verb="GET" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpRuntime maxRequestLength="4096" executionTimeout="110" targetFramework="4.5.1" />
    <pages validateRequest="true" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
      <namespaces />
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="username@gmail.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp-mail.Outlook.com" port="587" userName="mkaddar@outlook.com" password="Yoni220811" />
      </smtp>
    </mailSettings>
  </system.net>

  
  <!--ToolBox-->  
  <location path="ToolBox">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>  
  
  <!--Dashboard-->  
  <location path="SecurePage/Dashboard">
    <system.web>
      <authorization>
        <allow roles="Administrators,dashboard" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Admin">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie">
    <system.web>
      <authorization>
        <allow roles="industrie_ordo,industrie_speedup,industrie_speedupHDHR,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie/DemandeLogistic">
    <system.web>
      <authorization>
        <allow roles="industrie_speedupadm,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie/Ordo_Tools">
    <system.web>
      <authorization>
        <allow roles="industrie_ordo,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie/SPEEDUP">
    <system.web>
      <authorization>
        <allow roles="industrie_speedup,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  
  <!--LLP-->
  <location path="SecurePage/LLP">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/LLP/Qualite">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


<!--Industrie-->
  <location path="SecurePage/Industrie/Shuttle">
    <system.web>
      <authorization>
        <allow roles="industrie_shuttle,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie/SLA_GUICHET">
    <system.web>
      <authorization>
        <allow roles="industrie_guichetSLA,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Industrie/SPEEDUP_HDHR">
    <system.web>
      <authorization>
        <allow roles="industrie_speedup,industrie_speedupHDHR,Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--Rechange-->
  <location path="SecurePage/Rechange">
    <system.web>
      <authorization>
        <allow roles="Administrators,rechange_vbsp,rechange_aog,rechange_b1,rechange_vbspConsult" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Rechange/AOG">
    <system.web>
      <authorization>
        <allow roles="Administrators,rechange_aog" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Rechange/ECRANPROD">
    <system.web>
      <authorization>
        <allow roles="Administrators" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Rechange/B1">
    <system.web>
      <authorization>
        <allow roles="Administrators,rechange_b1" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Rechange/VBSP">
    <system.web>
      <authorization>
        <allow roles="Administrators,rechange_vbsp" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Rechange/VBSP_CONSULT">
    <system.web>
      <authorization>
        <allow roles="Administrators,rechange_vbsp,rechange_vbspConsult" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--Donauworth-->
  <location path="SecurePage/Donauworth">
    <system.web>
      <authorization>
        <allow roles="Administrators,donauworth_rechange_vbsp" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SecurePage/Donauworth/Rechange/VBSP">
    <system.web>
      <authorization>
        <allow roles="Administrators,donauworth_rechange_vbsp" />
        <deny users="?" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Moderno" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="Telerik.Skin" value="Bootstrap" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    <add key="AOG_Refresh" value="15" />
    <add key="REC_ECRAN_PROD_Refresh" value="15" />
    <add key="FolderPath" value="~/App_Data/UploadTemp/"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>